<header>
  <h1>Welcome to CLJR</h1>
  <h2>Categories</h2>
</header>

<ul>
  <% @categories.each do |category| %>
    <li><a href="/<%= category.name %>"><%= category.name %></a></li>
  <% end %>
</ul>


